<!DOCTYPE html>
<html>
<head>
    <title>Resultados | UrMusic</title>
    <meta charset="UTF-8">
    <link href="{{ css_url }}" rel="stylesheet" type="text/css">
    <link href="{{ favicon_url }}" rel="apple-touch-icon" sizes="180x180">
    <link href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}" rel="icon" sizes="32x32"
          type="image/png">
    <link href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}" rel="icon" sizes="16x16"
          type="image/png">
    <link href="{{ url_for('static', filename='favicon/site.webmanifest') }}" rel="manifest">
</head>
<body>


<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='main2.js') }}"></script>


<div class="background" style="z-index: -1;">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>
<div id="header">
    <header>
        <h1 style="font-size: calc(35px + 0.2vw);"><a href="index.html">UrMusic✧</a></h1>
    </header>
</div>

<h3>Te recomendamos...</h3>

<div class="card-container">
    <!-- Este es un contenedor de las cartas de artistas. Las cartas se agregan utilizando el script de js y el programa Python -->
</div>

</body>
</html>